<div class="background-page">
    <h1>
        لیست فروشگاه‌های شما
    </h1>

    <mat-spinner class="green-spinner" style="margin: auto;" *ngIf="spinner"></mat-spinner>
    <mat-list *ngIf="!spinner">
        <mat-selection-list [formControl]="marketFormControl" [multiple]="false">
            <mat-list-option *ngFor="let market of marketsList" [value]="market.id">
                <img matListItemIcon src="./../../../../assets/بانک آینده.svg">
                <div
                    style="display: flex;flex-direction: column;align-items: flex-start;justify-content: space-around;">
                    <span> {{market.title}} </span>
                    <span class="designation"> {{market.description}} </span>
                </div>
            </mat-list-option>
            <mat-list-item (click)="marketGenerte()">
                <mat-icon matListItemIcon>add</mat-icon>
                <div matListItemTitle>ساخت فروشگاه جدید</div>
            </mat-list-item>
        </mat-selection-list>
    </mat-list>
</div>