<div class="content">
    <h1>
        احراز هویت
    </h1>

    <form [formGroup]="authForm" dir="rtl" class="w-100">

        <div style="margin-right: 17px;">
            <mat-form-field appearance="outline">
                <mat-label>کدملی</mat-label>
                <input formControlName="nationalCode" matInput required>
            </mat-form-field>
        </div>


        <div style="margin-right: 17px;">
            <mat-form-field appearance="outline">
                <mat-label>سال</mat-label>
                <input formControlName="year" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>ماه</mat-label>
                <input formControlName="month" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>روز</mat-label>
                <input formControlName="day" matInput>
            </mat-form-field>
        </div>

    </form>

    <div class="centralize">
        <button mat-button mat-raised-button color="primary" matTooltip="ثبت" (click)="add()"> ثبت اطلاعات </button>
        <button mat-button mat-stroked-button color="primary" (click)="return()">بازگشت </button>
    </div>
</div>