<section class="flex-box section-style">
  <div class="header-flex-box header-title">
    <div class="p-l">
      <span>{{title}}</span>
    </div>
    <div>
      <span>{{userName}}</span>
    </div>
  </div>
  <div>
    <div class="flex-box button-div">
      <div>
        <button mat-fab color="primary" matTooltip="بازگشت" (click)="returnBack()">
          <span class="material-icons">
            arrow_back
          </span>
        </button>
      </div>
      <div>
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</section>
