.dialog-container {
  max-height: 90vh;
  position: relative;
  padding-top: 50px;

  .font-family {
    font-family: YekanBakh;
    margin-top: 16px;
  }

  .dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: -24px;
    right: -24px;
    left: -24px;
    height: 55px;
    //background-color: #1a237e;
    background-color: #1a237e38;
    color: #1a237e;
    padding: 0 24px;
    margin-bottom: 30px;
    font-weight: bold;
  }

  .mat-dialog-content {
    width: 800px;
    max-width: 100%;
    max-height: calc(90vh - 130px) !important;
    min-height: 70px !important;
    margin: 10px -24px;

    [search-form] {
      margin: 3px !important;
      padding: 20px 10px 0 !important;
      border: 1px solid rgba(0,0,0,.05);

      mat-form-field {
        width: 97% !important;
      }
    }
  }

  .mat-dialog-actions {
    padding: 7px 24px 7px 20px;
    background-color: #1a237e38;
    margin: 24px -24px -24px;
  }

  @media (max-width: 768px) {
    .mat-table[appMatTableResponsive] .mat-row:last-of-type td:last-of-type {
      border-bottom: 1px solid rgba(0,0,0,.12) !important;
    }
  }

  .error-msg{
    color: red;
    margin: -14px 20px 10px 0;
    font-size: 11px;
    display: block;
  }
}
